#formRegister{
    width: 30%;
    margin: 4% auto;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    border: 1px solid black;
    /* margin-top: 10px; */
    background-color: purple;
    /* justify-content: center; */
    height: 50%;
}

.newRegister{
    padding: 5px 10px;
}