#loginForm{
    width: 30%;
    margin: 0% auto;
    border-radius: 5px;
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: purple;
}

.newLogin{
    padding: 5px  10px;
}
