#loginForm{
    width: 30%;
    margin: 4% auto;
    height: 50%;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: purple;
    /* justify-content: center; */
    /* place-items: center; */
}

.newLogin{
    padding: 5px  10px;
}
